# Dependencies
node_modules/
# package-lock.json est nécessaire pour Docker

# Environment variables
.env
.env.local
.env.production

# Database (ne pas commit la DB avec les données)
database/*.db
database/*.db-journal

# Logs
logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Build
dist/
build/
